@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border-radius: 5px;
}

body{
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 20vh 0;
  background: #f2f7ff;
}

#terug{
  font-weight: bold;
  font-family: sans-serif;
  color: black;
  margin-top: 1em;
  margin-left: 1em;
}

#terug:hover{
  text-decoration: underline;
}

.rightside{
  text-align: center;
  line-height: 4em;
}

.box{
  box-shadow: 0px 0px 25px -2px rgba(181,173,211,0.56);
-webkit-box-shadow: 0px 0px 25px -2px rgba(181,173,211,0.56);
-moz-box-shadow: 0px 0px 25px -2px rgba(181,173,211,0.56);
  background-color: white;
  margin: 0 10em;
  line-height: 3.45em;
  width: 350px;
  text-align: center;

}


input{
  padding: 12px 150px 12px 15px;;
  box-sizing: border-box;
  box-sizing: inherit;
  border: solid 1px #d5d9e0;
  outline: none;
}

hr{
  width: 300px;
  margin-left: 25px;
}

.login{
  padding: 12px 139px;
  border: none;
  background: #3568e8;
  color: white;
}

.newAccount{
  padding: 12px 25px;
  margin-bottom: 1.5em;
  border: none;
  background: #30b33b;
  color: white;
}

p{
font-family: sans-serif;
width: 670px;
}

.forgot{
  color: #3568e8;
  font-weight: 500;
  font-family: sans-serif;
}

.create{
  color: black;
  font-weight: bold;
  font-family: sans-serif;
}

.leftside{
  width: 350px;
  margin: 8.5% 30%;
}

.fb{
  font-size: 3.5em;
  color: #3568e8;
  font-family: 'Alata';
  font-weight: bolder;
}

h3{
  margin-top: 0.5em;
  font-family: sans-serif;
  font-weight: 500;
}

@media (max-width:984px) {
  body{
    display: inline;
    text-align: center;
    align-content: center;
    align-self: center;
  }

  .box{
    text-align: center;
    margin-left: 30%;
  }

  .leftside{
    font-size: 1.2em;
    transition: 1s;
  }

  p{
    margin-left: 8.5%;
  }
}

a:hover{
  text-decoration: underline;
}

button:hover{
  cursor: pointer;
}
